<div class="contenedor">
    <div class="carta" style="--i:url(https://cloudfront-us-east-1.images.arcpublishing.com/infobae/5D5YFPR6GNAGLDTQR7YVPOPVTE)">
        <div class="contenido">
            <a href="">Usados
                <p class="sub">Comprar/Vender</p>
            </a>
        </div>
      
    </div>
    <div class="carta" style="--i:url(https://www.clarin.com/img/2020/11/18/el-fiat-cronos-fue-el___suvVSULgc_1200x630__1.jpg)">
        <div class="contenido">
            <a href="">0 Km
                <p class="sub">Nuestros mejores autos</p>
            </a>
        </div>
        
    </div>
    <div class="carta" style="--i:url(https://sisanjuan2-imagenysistemas.netdna-ssl.com/media/xt-adaptive-images/480/media/k2/items/cache/6f2285a56c64dae5f6ab9f72365b2e8f_XL.jpg)">
        <div class="contenido">
            <a href="" style=" font-size: 1.9em;">Plan de Ahorro
                <p class="sub">Plan seguro y Confiable</p></a>
        </div>
        
    </div>
</div>