<!-- <div class="contenedor">
    <div class="carta">
        <div class="info">

        </div>
        <div class="imagen">
            <img src="" alt="">
        </div>
    </div>
</div> -->

<div class="body">
    <div class="contenedor">
        <div class="left">
            <div class="left-wrapper">
                <div class="left-content" data-aos="fade-right"
                data-aos-duration="3000">
                    <h3 class="titulo" >¿Quienes Somos?</h3>
                    
                    <p>La experiencia y el pasar de las décadas nos impulsaron a atravesar cambios, adaptaciones y principalmente el desarrollo de una complejidad tecnológica de vanguardia: en 1998 fuimos la primera fábrica de sembradoras en Sudamérica y una de las primeras a nivel internacional en contar con soldadura robotizada.</p>
                    <p>Nuestra misión es acompañar al productor a través de todo el proceso de búsqueda de la máquina ideal, personalizando la fabricación para que cada equipo se adapte al suelo donde se sembrará. Junto con el mejor servicio post-venta, son nuestros principales diferenciales.</p>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="right-wrapper">
                <div class="right-content">
                   
                </div>
            </div>
        </div>
    </div>
    
</div>

