<header>
    <nav class="navegador">
        <a routerLink="" class="logo">
            <img src="../../../assets/logo/StarCar.png" width="95px" height="70px" alt="logo">
        </a>
        
        <ul class="nav-menu">
            <li class="nav-item">
                <a routerLink="vehiculos" class="ruta decoracion">Vehiculos</a>
            </li>
            <li class="nav-item">
                <a routerLink="servicios" class="ruta decoracion">Servicios</a>
            </li>
            <li class="nav-item">
                <a routerLink="repuestos" class="ruta decoracion">
                   Repuestos
                </a>
            </li>
            <li class="nav-item">
                <a class="ruta decoracion" routerLink="nosotros">Nosotros</a>
            </li>
            <li class="nav-itemo">
                <a class="ruta decoracion2" routerLink="usuario"><i class="pi pi-user"></i> Iniciar Sesión</a>
            </li>
        </ul>
       
    </nav>
    
</header> 