<div class="contenedor">
    <div class="carta" style="--i:url(../../../../assets/page-servicio/seguros.jpg)">
        <div class="contenido">
            <a href="">Seguros</a>
        </div>
      
    </div>
    <div class="carta" style="--i:url(../../../../assets/page-servicio/neumaticos.jpg)">
        <div class="contenido">
            <a href="">Neumaticos</a>
        </div>
        
    </div>
    <div class="carta" style="--i:url(../../../../assets/page-servicio/plan-de-ahorro.jpg)">
        <div class="contenido">
            <a href="" style=" font-size: 1.9em;">Plan de Ahorro </a>
        </div>
        
    </div>
</div>
