

a{
    
    border: 5px solid rgb(252, 4, 4);
    padding: 0.6em 3.5em;
    margin: auto;
    text-decoration: none;
    border-radius: 10px;
    font-size: 2em;
    font-weight: 700;
    color: rgb(245, 233, 233);
    text-shadow: none;
    transition: all ease-out 0.2s;
}
a:hover{
    background-color: rgba(58, 52, 52, 0.767);
    color: white;
    text-shadow: none;
}


h1{
    font-size:6em;
    font-weight: 600;
    
}
p{
    font-size: 3em;
    margin-bottom: 25px;
}
.banner{
    width: 100%;
    
    height: 650px;
    display: flex;
    background: yellow;
    
    align-items: center;
    text-align: start;
    background-image: url(src\assets\banners\banner_home.jpg);
    
    background-attachment:fixed ;
    background-repeat: no-repeat;
   background-size: cover;
    
  
}

.banner_descripcion{
    color: rgb(255, 255, 255);
    text-shadow: -6px 0px 5px rgba(0,0,0,0.66);
    width: 90%;
    max-width: 1000px;
    display: block;
    margin-left: 60px;
}
