<!-- <div class="banner">
    <div class="banner_descripcion">
       <h1>La nueva Manara de Adqurir <br>
        tu Vehiculo, <br> La encontras aca</h1>
    
    </div>
</div> -->
<div class="banner">
    <div class="texto">
        <h1>La nueva Manera de Adquirir <br>
            tu Vehiculo, <br> La encontras aca</h1>
    </div>
    <div class="iamgen" data-aos="fade-left" data-aos-duration="3000">
        
        <img src="../../../../assets/banners/auto-sin-fondo.png" class="auto" alt="">
    </div>
</div>