
h1{
    font-size:3em;
    font-weight: 600;
    
}

 

 .banner{
    background: url(../../../../assets/banners/fondo-de-vehiculo.png);
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 400px;
    align-items: center;
 }
 .texto{
    color: rgb(255, 255, 255);
    text-shadow: -6px 0px 5px rgba(0,0,0,0.66);
    width: 90%;
    max-width: 1000px;
    display: block;
    margin-left: 60px;
 }

.auto{
   margin-top: 125px;
   
    
}