
<div class="contenedor">
    <!-- Registarse -->
    <div class="container-form sign-up">
        <div class="welcome-back">
            <div class="message">
                <h2>Bienbenido</h2>
                <p>Si yatienes una cuenta por favor incia sision aqui</p>
                <button class="sign-up-btn">Inisiar Sesion</button>
            </div>
        </div>
        <form class="formulario">
            <h2 class="create-account">Crear una cuenta</h2>
            <div class="border-icon">
                <i class="pi pi-google"></i>
            </div>
            <div class="border-icon">
                <i class="pi pi-user-plus"></i>
            </div>
            <p class="cuenta-gratis">Crear una cuenta Nueva</p>
            <input type="text" placeholder="Nombre">
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Contraseña">
            <input type="button" value="Registrarse">
        </form>
    </div>
<!-- iniciar Sesion -->
    <div class="container-form sign-in">
        <form class="formulario">
            <h2 class="create-account">Iniciar Sesion</h2>
            <div class="border-icon">
                <i class="pi pi-google"></i>
            </div>
            <div class="border-icon">
                <i class="pi pi-user-plus"></i>
            </div>
            <p class="cuenta-gratis">¿Aun no tienes cuenta?</p>
            
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Contraseña">
            <input type="button" value="Iniciar Sesion">
        </form>
        <div class="welcome-back">
            <div class="message">
                <h2>Bienvenido de Nuevo</h2>
                <p>Si todavia no tiene una cuenta, por favor registrese aqui</p>
                <button class="sign-in-btn">Registarse</button>
            </div>
        </div>
        
    </div>
</div>
