.body{
    overflow-y: hidden;
    overflow-x: hidden;
}
p{
    color: #fff;
    margin: 25px;
    font-size: 1.2em;
}
.titulo{
    font-size: 4em;
    color: #fff;
    text-shadow: 0 0 5px black;
}
.btn{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-size: 1em;
    margin: 0 150px;
    text-align: center;
    padding: 10px 25px;
}
.contenedor{
    display: flex;
    
}
/*left*/
.left{
    background: white url("../../../../assets/page-nosotros/socios.jpg") no-repeat scroll center;
    background-size: cover;
    width: 50%;
    height: 55vh;
}
.left-wrapper{
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
}
.left-content, .right-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-align: center;
    height: 100%;
}
/* right */
.right{
    background: rgb(255, 0, 0) ;
    background-size: cover;
    width: 50%;
    height: 55vh;
}
.right-wrapper{
    background-color: rgba(44, 44, 44, 0.6);
    height: 100%;
}
.left, .left-content, .right,.right-content{
    transition: all 0.5s ease-in-out;
}


@media only screen and (max-width: 600px){
    .contenedor{
    display: flex;
    flex-direction: column;
    }
    .left, .right{
        width: 100%;
    }
   

}