<div class="body">
    <div class="contenedor">
        <div class="left">
            <div class="left-wrapper">
                <div class="left-content">
                    
                </div>
            </div>
        </div>
        <div class="right">
            <div class="right-wrapper">
                <div class="right-content" data-aos="fade-left"
                data-aos-duration="3000">
                    <h3 class="titulo">Historia</h3>
                    <p>Nacida en la localidad de Viedma, Rio Negro en Argentina, STARCAR es hoy una de las empresas que lidera el mercado de vehiculos en Argentina, con una gran cobertura nacional que integran 70 concesionarios, y con sembradoras presentes en todo el mundo.</p>
                    <p>Nuestros 60 años de progreso representan 60 años de un crecimiento enfocado principalmente en los valores. Valores que estuvieron presentes en el proyecto de Arturo Wexler
                        , y que hoy segumos siendo los mejores en el mercado de lo vehiculos y repuestos, en el país y en el exterior </p>
                </div>
            </div>
        </div>
    </div>
    
</div>

