<!-- <div class="contenedor">
    
    <div class="descripcion">
        <h1 class="titulo">Imporatamos repuestos originales 
        al mejor precio</h1>
        <h2 class="encargo">Contactanos para encargar tu Repuesto</h2>
        <button class="btn">Saber Mas</button>
    </div>

</div>
 -->
<div>
    <div class="contenedor">
        <img src="../../../assets/banners/repuestos-home.jpg" class="repuestos" alt="">
        <div class="descripcion">
            <h1 class="titulo">Imporatamos repuestos originales 
            al mejor precio</h1>
            <h2 class="encargo">Contactanos para encargar tu Repuesto</h2>
            <button class="btn" routerLink="repuestos">Saber Mas</button>
        </div>
    
    </div>
</div>