div{
    height: 504px;
}
.repuestos{
    clip-path: polygon(0% 0%, 70% 0, 75% 50%, 70% 100%, 0% 100%);
    height: 504px;
    width: 1200px;
}
.contenedor{
   
    position: relative;
    display: inline-block;
    text-align: center;
   
    height: 504px;
   
}
.descripcion{
    position: absolute;
    text-align: center;
    top: 64%;
    left: 95%;
    transform: translate(-50%, -50%);
}
.titulo{
    font-size: 2.5em;
    width: 410px;
    margin-bottom: 15px ;
}
.encargo{
    font-size: 1.5em;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn{
    padding: 25px 60px;
    font-size: large;
    font-weight: 800;
}

.btn:hover{
    background: black;
    color: white;
}