<div class="body">
    <div class="contenedor">
        <div class="left">
            <div class="left-wrapper">
                <div class="left-content" data-aos="fade-right"
                data-aos-duration="3000">
                    <h3 class="titulo" >Contactanos</h3>
                    <p>Si quiere contactar con nosotros, llene el siguiente formulario <br> y lo contactaremos</p>
                    <input type="text" placeholder="Nombre Comleto">
                    <input type="text" placeholder="Correo Electronico">
                    <input type="text" placeholder="Telefono">
                    <button class="btn">Enviar</button>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="right-wrapper">
                <div class="right-content">
                    
                </div>
            </div>
        </div>
    </div>
    
</div>
