
.body{
    overflow-y: hidden;
    overflow-x: hidden;
}
.titulo{
    font-size: 4em;
    color: #fff;
    text-shadow: 0 0 5px black;
}
.btn{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-size: 1em;
    margin: 0 150px;
    text-align: center;
    padding: 10px 25px;
}
.contenedor{
    display: flex;
    
}
/*left*/
.left{
    background: white url("https://www.eventosmotor.com/wp-content/uploads/2021/06/Pontiac-GTO_Editorial_Use_Only.jpg") no-repeat scroll center;
    background-size: cover;
    width: 50%;
    height: 100vh;
}
.left-wrapper{
    background-color: rgba(85, 7, 7, 0.6);
    height: 100%;
}
.left-content, .right-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-align: center;
    height: 100%;
}
/* right */
.right{
    background: white url("https://www.eventosmotor.com/wp-content/uploads/2021/06/amc-eagle.jpg") no-repeat scroll center;
    background-size: cover;
    width: 50%;
    height: 100vh;
}
.right-wrapper{
    background-color: rgba(71, 63, 63, 0.6);
    height: 100%;
}
.left, .left-content, .right,.right-content{
    transition: all 0.5s ease-in-out;
}
.left:hover{
    width: 90%;
}
.left:hover .left-content{
    transform: scale(1.3, 1.3);
}


.right:hover{
    width: 90%;
}
.right:hover .right-content{
    transform: scale(1.3, 1.3);
}

@media only screen and (max-width: 600px){
    .contenedor{
    display: flex;
    flex-direction: column;
    }
    .left, .right{
        width: 100%;
    }
    .left:hover{
        width: 100%;
    }
    .right:hover{
        width: 100%;
    }
    .right:hover .right-content{
        transform: none;
    }
    .left:hover .left-content{
        transform:none;
    }

}