


<div class="body">
    <div class="contenedor">
        <div class="left">
            <div class="left-wrapper">
                <div class="left-content">
                    <h3 class="titulo">Importados</h3>
                    <button class="btn" routerLink="vehiculos">Ver</button>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="right-wrapper">
                <div class="right-content">
                    <h3 class="titulo">Usados</h3>
                    <button class="btn" routerLink="vehiculos">Ver</button>
                </div>
            </div>
        </div>
    </div>
    
</div>


