
:root{
   --sombra: 3px 5px 5px rgba(3, 32, 51, .8);
}

.contenedor{
    display: flex;
    justify-content: space-around;
    background: url(../../../assets/fondo.png);
}

.carta{
    margin: 20px;
    width: 350px;
    height: 200px;
    border: solid 2px red;
    border-radius: 30px ;
    background: var(--i);
    background-size: cover;
    box-shadow: var(--sombra);
    transition: .5s;
}
.contenido{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .4);
    border-radius: 25px ;
    opacity: 1;
    transition: .5s;
}
.contenido a{
    color: white;
    text-decoration: none;
    font-size: 2em;
}
.carta:hover .contenido{
    font-size: 2.1em;
    background: rgba(0, 0, 0, .7);
}
.carta:hover{
    transform: scale(1.1);
}
@media only screen and (max-width: 600px){
    .contenedor{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        background: url(../../../assets/fondo.png);
    }
}