
<div class="contenedor">
    <div class="carta" data-aos="fade-up"
    data-aos-easing="linear"
    data-aos-duration="1500" style="--i:url(../../../assets/autos-cards/auto-clasico.jpg)">
        <div class="contenido">
            <a href="" routerLink="vehiculos">clasicos</a>
        </div>
      
    </div>
    <div class="carta" data-aos="fade-up"
    data-aos-easing="linear"
    data-aos-duration="1500" style="--i:url(../../../assets/autos-cards/gama-alta.png)">
        <div class="contenido">
            <a href="" routerLink="vehiculos">Gama alta</a>
        </div>
        
    </div>
    <div class="carta" data-aos="fade-up"
    data-aos-easing="linear"
    data-aos-duration="1500" style="--i:url(../../../assets/autos-cards/gama-media.jpg)">
        <div class="contenido">
            <a href="" style=" font-size: 1.9em;" routerLink="vehiculos">gama media</a>
        </div>
        
    </div>
</div>
<div class="contenedor">
    <div class="carta" data-aos="fade-up"
    data-aos-easing="linear"
    data-aos-duration="1500" style="--i:url(../../../assets/autos-cards/cuatro-x-cuatro.jpg)">
        <div class="contenido">
            <a href="" routerLink="vehiculos">4 X 4</a>
        </div>
      
    </div>
    <div class="carta" data-aos="fade-up"
    data-aos-easing="linear"
    data-aos-duration="1500" style="--i:url(../../../assets/autos-cards/COUPE.jpg)">
        <div class="contenido">
            <a href="" routerLink="vehiculos">Coupe</a>
        </div>
        
    </div>
    <div class="carta" data-aos="fade-up"
    data-aos-easing="linear"
    data-aos-duration="1500" style="--i:url(../../../assets/autos-cards/super.jpg)">
        <div class="contenido">
            <a href="" routerLink="vehiculos">super</a>
        </div>
        
    </div>
</div>


