<div class="banner">
    <div class="info">
        <h3>Trabajamos las Mejores Marcas - Envios Internacionales</h3>
        <h1>Repuestos <br> Originales y <br> Alternativos</h1>
        <p>Repuestos originales y alternativos BMW, Mercedes-Benz, Audi, Mini, Kia, Toyota, Hyundai, <br> Honda y más.</p>
    </div>
    <div class="metodo">
        <div class="pagos">
            <h2>Metodos de Pagos</h2>
            <div class="paga">
            <p class="iconos"><i class="pi pi-dollar" style="font-size: 1.5em;"></i> <br> Efectivo</p>
            <p class="iconos"><i class="pi pi-credit-card" style="font-size: 1.5em;"></i> <br> Tarjeta de <br> Credito</p>
            <p class="iconos"><i class="pi pi-paypal" style="font-size: 1.5em;" ></i> <br> PayPal</p>
            </div>
           
        </div>
    </div>
</div>