<header>
    <nav class="navegador">
        <label for="" class="logo">logo</label>
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="" class="ruta decoracion">Unisex</a>
            </li>
            <li class="nav-item">
                <a href="" class="ruta decoracion">mujer</a>
            </li>
            <li class="nav-item">
                <a href="" class="ruta decoracion">
                    hombre
                </a>
            </li>
            <li class="nav-item">
                <a href="" class="ruta decoracion">niños</a>
            </li>
            <li class="nav-item">
                <a href="" class="ruta decoracion">Acesorios</a>
            </li>
        </ul>
        <section class="iconos">
            <!--agregar iconos -->
            <i class="pi pi-user usuario" style="font-size: 1.8rem; color: white;"></i>
            <i class="pi pi-shopping-cart carrito" style="font-size: 1.8rem; color: white;"></i>
        </section>
    </nav>
    
</header>