<div class="fother">
    <section class="logo">
        <a routerLink="">
            <img src="../../../assets/logo/STARCAR_Black.png" alt="logo">
        </a>
        
    </section>
    <section class="nosotros">
        <div>
            <p>Historia</p>
        <ul>
            
            <li><a href="">Historia</a>   </li>
        </ul>    
        </div>
        
        <div>
            <p>Atencion al Cliente</p>
        <ul>
            <li><a href="">Secretaria: +54 299 658-0518 </a></li>
            <li><a href="">Operadora: +54 299 658-0518 </a></li>
        </ul>
        </div>
        
    </section>
    <section class="ayuda">
        <p>servicios</p>
        <ul>
            <li><a href="">Aseguradora</a></li>
            <li><a href="">Mantenimiento</a></li>
            <li><a href="">Extrajero</a></li>
        </ul>
        <div>
            <p>soporte</p>
        <ul>
            <li><a href="">Contactar</a></li>
            
        </ul>
        </div>
        
        <div>
            <p>Confesionarios</p>
            <ul>
                <li><a href="">Argentina</a></li>
                <li><a href="">Brazil</a></li>
                <li><a href="">Chile</a></li>
                <li><a href="">Uruguay</a></li>
                <li><a href="">Colombia</a></li>
            </ul>
        </div>
    </section>
    <section>
        <p>Nos podes seuguir en:</p>
        <div class="redes">
            <a href=""><i class="pi pi-instagram icono"></i></a>
            <a href=""><i class="pi pi-twitter icono" ></i></a>
            <a href=""><i class="pi pi-facebook icono"></i></a>
            <a href=""><i class="pi pi-youtube icono"></i></a>
         
        </div>
    </section>
</div>