
<div class="soporte">
    <div class="info">
        <h1>Nuestro Soporte esta habilitado desde <br> las 08:00hs hasta las 16:00hs</h1>
        <h1>Si Quieres Contactar con Nuestro Soprte <br>
        Ingresa los siguientes datos </h1>
        <h2>Nos comunicaremos contigo en menos de 48hs</h2>

    </div>
    <div class="registro">
        <p-card header="Ingresar Datos" styleClass="carta"  [style]="{'width': '25rem', 'margin-bottom': '2em'}">
        
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input type="text" pInputText placeholder="Nombre y apellido">         
            </div>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>
                <input type="number" pInputText placeholder="Numero de Celular">         
            </div>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                <input type="text" pInputText placeholder="Correo Electronico">   
                  
            </div>
            <div class="btn">
                <button>Enviar</button>
            </div>
            
        </p-card>
    </div>
    
    
</div>
