<div class="contenedor">
    <div class="encargar">
        <div class="datos">
            <div class="info">
                <h3>Si Quieres Encargar un <br>
                    Repuesto, que no encuentres en la tienda</h3>
                    <h1>Comunicate con Nostros</h1>
                    <h2>Para Encargar tu Repuesto</h2>
                   <h3>Llena los siguientes Datos</h3>
            </div>
           <div class="llenar">
            
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText > 
                    <label for="inputtext">Nombre Completo</label>
                </span>
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText > 
                    <label for="inputtext">Telefono</label>
                </span>
                <span class="p-float-label">
                    <input type="text" id="inputtext" pInputText > 
                    <label for="inputtext">Correo Electronico</label>
                </span>
                <button class="btn">
                    Enviar
                </button>

           </div>
            
        </div>
    </div>
</div>